// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

// Universal Styles
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// Variables
// Colors
/* Primary Colors */
$header-blue: #3ebfff;
$soft-red: #fe7867;
$yellow: #fad400;
$dark-saturated-cyan: #25564b;
$dark-blue: #19536b;
$dark-moderate-cyan: #458c7e;
$light-cyan: #90d4c5;

/* Neutral Colors */
$very-dark-saturated-blue: #23303e;
$very-dark-grayish-blue: #5a636c;
$dark-grayish-blue: #818498;
$grayish-blue: #a7aaae;
$white: #fff;

// Font-stack
$font-stack: 600 18px "Barlow", sans-serif;
$fraunces-font: 900 18px "Fraunces", serif;

// Custom Scrollbar
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $soft-red;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fe1f01;
}

// Javascript Styles
.display {
  display: flex !important;
}
