@media(max-width: 768px) {
  header {
    nav {
      .nav-icon {
        display: block;
      }
      .nav-items-container {
        position: absolute;
        top: 5em;
        left: 0;
        width: 100%;
        display: flex;
        
        .nav-items {
          background-color: $white;
          flex-direction: column;
          color: #000;
          margin: 0 3rem;
          width: 100%;

          &::before {
            content: "";
            position: absolute;
            top: -20px;
            right: 46px;
            width: 0;
            height: 0;
            border-top: 15px solid transparent;
            border-left: 15px solid $white;
            border-bottom: 15px solid transparent;
            transform: rotate(45deg);
          }
        }
      }
    }
  }
}

@media(max-width: 450px) {
  main {
    .hero {
      background: url("./images/mobile/image-header.jpg") center/cover no-repeat;
      height: 70vh;
    }
  }
}