@import "config";

body {
  font: $font-stack;
}

header {
  nav {
    position: relative;
    inset: 0 auto auto 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: $white;
    background-color: $header-blue;
    padding: 2rem 3rem;
    max-height: 100px;

    .navbrand {
      font-size: 2rem;
    }

    .nav-icon {
      display: none;
    }
    .nav-items-container {
      .nav-items {
        display: flex;
        list-style: none;
  
        .nav-item {
          margin-left: 3rem;
          font-size: 0.9rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          cursor: pointer;
          color: $white;
  
          &:last-child {
            font: $fraunces-font;
            font-weight: 900;
            font-size: 0.8rem;
            text-transform: uppercase;
            background-color: $white;
            border-radius: 30px;
            color: $very-dark-saturated-blue;
            padding: 1rem 1.5rem;
  
            &:hover {
              background-color: #6FCFFF;
              color: $white;
            }
          }
        }
      }
    }
  }
}

main {
  .hero {
    background: url("./images/desktop/image-header.jpg") center/cover no-repeat;
    height: 100vh;
    padding-top: 5rem;
  }
}

@import "media";