@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Primary Colors */
/* Neutral Colors */
.display {
  display: flex !important;
}

body {
  font: 600 18px "Barlow", sans-serif;
}

header nav {
  position: relative;
  inset: 0 auto auto 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  background-color: #3ebfff;
  padding: 2rem 3rem;
  max-height: 100px;
}
header nav .nav-icon {
  display: none;
}
header nav .nav-items-container .nav-items {
  display: flex;
  list-style: none;
}
header nav .nav-items-container .nav-items .nav-item {
  margin-left: 3rem;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  color: #fff;
}
header nav .nav-items-container .nav-items .nav-item:last-child {
  font: 900 18px "Fraunces", serif;
  font-weight: 900;
  font-size: 0.9rem;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 30px;
  color: #23303E;
  padding: 1rem 1.5rem;
}
header nav .nav-items-container .nav-items .nav-item:last-child:hover {
  background-color: #6fcfff;
  color: #fff;
}

main .hero {
  background: url("./images/desktop/image-header.jpg") center/cover no-repeat;
  height: 90vh;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .hero h1 {
  font: 900 18px "Fraunces", serif;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  color: #fff;
}
main .hero img {
  width: 4ch;
  position: relative;
  top: 80px;
}
main .services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
main .services .grid-item h2 {
  font: 900 18px "Fraunces", serif;
  font-size: 1.8rem;
  width: 72%;
  color: #23303E;
}
main .services .grid-item p {
  font-size: 0.9rem;
  color: #23303E;
  padding: 2rem 0;
  width: 84%;
  line-height: 2em;
}
main .services .grid-item a {
  font: 900 18px "Fraunces", serif;
  color: #23303E;
  text-transform: uppercase;
  font-size: 0.8rem;
  -webkit-text-decoration: underline #fad400;
          text-decoration: underline #fad400;
  text-decoration-thickness: 5px;
}
main .services .grid-item:nth-child(6) h2, main .services .grid-item:nth-child(5) h2 {
  padding-top: 21rem;
  text-align: center;
  width: 100%;
}
main .services .grid-item:nth-child(6) p, main .services .grid-item:nth-child(5) p {
  width: 49%;
  margin: 0 auto;
  text-align: center;
}
main .services .grid-item:nth-child(1) {
  background: url("./images/desktop/image-transform.jpg") center/cover no-repeat;
  order: 2;
}
main .services .grid-item:nth-child(2) {
  order: 1;
  padding: 7rem;
}
main .services .grid-item:nth-child(3) {
  background: url("./images/desktop/image-stand-out.jpg") center/cover no-repeat;
  order: 3;
}
main .services .grid-item:nth-child(4) {
  order: 4;
  padding: 7rem;
}
main .services .grid-item:nth-child(4) a {
  -webkit-text-decoration-color: #fe7867;
          text-decoration-color: #fe7867;
}
main .services .grid-item:nth-child(5) {
  background: url("./images/desktop/image-graphic-design.jpg") top/cover no-repeat;
  order: 5;
}
main .services .grid-item:nth-child(6) {
  background: url("./images/desktop/image-photography.jpg") top/cover no-repeat;
  order: 6;
}
main .testimonials {
  padding: 7rem;
}
main .testimonials h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font: 900 18px "Fraunces", serif;
  color: #A7AAAE;
  margin-bottom: 4rem;
}
main .testimonials .testimonials-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
main .testimonials .testimonials-grid .testimonial-item {
  display: flex;
  flex-direction: column;
}
main .testimonials .testimonials-grid .testimonial-item img {
  width: 50px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 3rem;
}
main .testimonials .testimonials-grid .testimonial-item p {
  font-size: 0.8rem;
  color: #5A636C;
  line-height: 2em;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  min-height: 14ch;
}
main .testimonials .testimonials-grid .testimonial-item .author {
  font: 900 18px "Fraunces", serif;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  color: #23303E;
}
main .testimonials .testimonials-grid .testimonial-item .designation {
  font-size: 0.7rem;
  color: #A7AAAE;
  text-align: center;
}

@media (max-width: 1260px) {
  main .testimonials .testimonials-grid .testimonial-item p {
    margin-bottom: 1rem;
  }
}
@media (max-width: 1100px) {
  main .testimonials {
    padding: 7rem 2rem;
  }
  main .testimonials .testimonials-grid .testimonial-item p {
    min-height: 17ch;
  }
}
@media (max-width: 990px) {
  main .services {
    display: flex;
    flex-direction: column;
  }
  main .services .grid-item h2 {
    margin: 2rem auto 0;
    width: 100%;
  }
  main .services .grid-item p {
    width: 70%;
    margin: 0 auto;
    padding: 2rem 0;
  }
  main .services .grid-item a {
    display: inline-block;
    padding: 1rem 0;
  }
  main .services .grid-item:nth-child(5) h2, main .services .grid-item:nth-child(6) h2 {
    padding-top: 25rem;
  }
  main .services .grid-item:nth-child(5) p, main .services .grid-item:nth-child(6) p {
    width: 80%;
  }
  main .services .grid-item:nth-child(1), main .services .grid-item:nth-child(3) {
    order: 0;
    width: 100%;
    height: 50ch;
  }
  main .services .grid-item:nth-child(2), main .services .grid-item:nth-child(4) {
    order: 0;
    padding: 5rem;
    text-align: center;
  }
  main .services .grid-item:nth-child(5), main .services .grid-item:nth-child(6) {
    height: 60ch;
  }
}
@media (max-width: 768px) {
  header nav .nav-icon {
    display: block;
    font-size: 2rem;
    color: #ffffff78;
    cursor: pointer;
  }
  header nav .nav-items-container {
    position: absolute;
    top: 7em;
    left: 0;
    width: 100%;
    display: none;
    z-index: 1;
  }
  header nav .nav-items-container .nav-items {
    background-color: #fff;
    flex-direction: column;
    margin: 0 3rem;
    width: 100%;
    text-align: center;
    padding: 2rem 0;
  }
  header nav .nav-items-container .nav-items::before {
    content: "";
    position: absolute;
    top: -19px;
    right: 46px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 15px solid #fff;
    border-bottom: 15px solid transparent;
    transform: rotate(45deg);
  }
  header nav .nav-items-container .nav-items .nav-item {
    margin: 0;
    padding: 1rem;
    color: #818498;
    font-size: 1.2rem;
  }
  header nav .nav-items-container .nav-items .nav-item:last-child {
    width: 130px;
    margin: 1rem auto 0;
    background-color: #fad400;
  }

  main .testimonials {
    padding: 3rem 2rem 2rem;
  }
  main .testimonials h2 {
    margin-bottom: 3rem;
  }
  main .testimonials .testimonials-grid {
    display: flex;
    flex-direction: column;
  }
  main .testimonials .testimonials-grid .testimonial-item {
    margin-bottom: 3rem;
  }
  main .testimonials .testimonials-grid .testimonial-item img {
    margin-bottom: 2rem;
  }
  main .testimonials .testimonials-grid .testimonial-item p {
    font-size: 0.9rem;
    min-height: 8ch;
  }
}
@media (max-width: 567px) {
  header nav {
    padding: 2rem;
  }
  header nav .nav-items-container .nav-items {
    margin: 0 2rem;
  }
  header nav .nav-items-container .nav-items::before {
    right: 30px;
  }

  main .services .grid-item h2 {
    width: 80%;
    margin: 2rem auto 0;
  }
  main .services .grid-item p {
    width: 90%;
  }
  main .services .grid-item:nth-child(1), main .services .grid-item:nth-child(3) {
    height: 40ch;
  }
  main .services .grid-item:nth-child(2), main .services .grid-item:nth-child(4) {
    padding: 1rem 1rem 2rem;
  }
  main .testimonials {
    padding: 3rem 1rem 2rem;
  }
  main .testimonials .testimonials-grid .testimonial-item p {
    width: 80%;
  }
}
@media (max-width: 537px) {
  main .hero img {
    top: 20px;
  }
}
@media (max-width: 450px) {
  header nav {
    padding: 2rem 1.5rem;
  }
  header nav .nav-items-container .nav-items {
    margin: 0 1.5rem;
  }
  header nav .nav-items-container .nav-items::before {
    right: 22px;
  }

  main .hero {
    background-image: url("./images/mobile/image-header.jpg") center/cover no-repeat;
    height: 70vh;
  }
  main .hero img {
    top: 70px;
  }
  main .services .grid-item:nth-child(1) {
    background: url("./images/mobile/image-transform.jpg") top/cover no-repeat;
  }
  main .services .grid-item:nth-child(3) {
    background: url("./images/mobile/image-stand-out.jpg") top/cover no-repeat;
  }
  main .services .grid-item:nth-child(5) {
    background: url("./images/mobile/image-graphic-design.jpg") top/cover no-repeat;
  }
  main .services .grid-item:nth-child(6) {
    background: url("./images/mobile/image-photography.jpg") top/cover no-repeat;
  }
}